$grey: #eee;
$border-radius: 4px;
$blue: #40a9ff;
$width: 32px;
$height: 32px;
$font-size: 14px;
.g-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &-separator {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: $font-size;
    margin: 0 4px;
  }
  &-item {
    font-size: $font-size;
    border: 1px solid #e1e1e1;
    border-radius: $border-radius;
    padding: 0 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: $width;
    height: $height;
    margin: 0 4px;
    cursor: pointer;
    &.active,
    &:hover {
      border-color: $blue;
      color: $blue;
    }
    &.active {
      cursor: default;
    }
  }
  &-nav {
    background: $grey;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    width: $height;
    height: $height;
    margin: 0 4px;
    font-size: $font-size;
    cursor: pointer;
    &.disabled {
      background: darken($grey, 20%);
      cursor: not-allowed;
    }
  }
}
