.banana-image {
  display: inline-flex;
  position: relative;
  &-lightup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    background: fade-out($color: #000000, $amount: 0.5);
    width: 100%;
    height: 100%;
    z-index: 9990;
    outline: 1px solid green;
  }
  &-lightup-mask {
    width: 100%;
    height: 100%;
    z-index: 9999;
  }
  &-lightup-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9990;
  }
  &-lightup-content {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    cursor: grab;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  }
  &-option-wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.85);
    list-style: none;
    background: rgba(0, 0, 0, 0.1);
  }
  &-option-item {
    margin-left: 12px;
    padding: 12px;
    cursor: pointer;
    > span {
      font-size: 24px;
    }
  }
  &-info-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    > span {
      margin-right: 12px;
      font-size: 14px;
    }
  }
}
