.g-tag {
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background-color: #fafafa;
  &.colored {
    border-color: transparent;
    color: #fff;
    .g-tag-close-button {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &-close-button {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
    text-align: center;
  }
}
