.g-tooltip {
  &-trigger {
    box-sizing: border-box;
  }
  &-text {
    box-sizing: border-box;
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #404040;
    color: white;
    padding: 8px;
    border-radius: 2px;
    z-index: 1000;
    font-size: 14px;
    &.g-tooltip-text-open {
      visibility: visible;
      &.g-tooltip-top {
        margin-top: -8px;
        &::after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          top: 100%;
          border-top-color: #404040;
        }
      }
      &.g-tooltip-bottom {
        margin-top: 8px;
        &::after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          bottom: 100%;
          border-bottom-color: #404040;
        }
      }
      &.g-tooltip-left {
        margin-left: -8px;
        &::after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          left: 100%;
          border-left-color: #404040;
        }
      }
      &.g-tooltip-right {
        margin-left: 8px;
        &::after {
          content: '';
          position: absolute;
          border: 8px solid transparent;
          right: 100%;
          border-right-color: #404040;
        }
      }
    }
  }
}
