$blue: #40a9ff;
$color: #333;
$border-color: #d9d9d9;
.g-tabs {
  &-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $border-color;
    position: relative;
    &-item {
      padding: 8px 0;
      margin: 0 16px;
      cursor: pointer;
      &:first-child {
        margin-left: 0;
      }
      &.selected {
        color: $blue;
      }
    }
    &-indicator {
      position: absolute;
      height: 3px;
      background: $blue;
      left: 0;
      bottom: -1px;
      width: 100px;
      transition: all 250ms ease;
    }
  }
  &-content {
    padding: 8px 0;
  }
}
