.g-radio-wrapper {
  box-sizing: border-box;
  margin: 0 8px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  position: relative;
  display: inline-flex;
  align-items: baseline;
  cursor: pointer;
  & + & {
    margin-left: 8px;
  }
  > .g-radio {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000000d9;
    font-size: 14px;
    list-style: none;
    position: relative;
    top: 0.2em;
    display: inline-block;
    outline: none;
    cursor: pointer;
    > input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
    }
    > .g-radio-inner {
      box-sizing: border-box;
      position: relative;
      top: 0;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 50%;
      transition: all 0.3s;
    }
  }
  > .g-radio-tips {
    margin-left: 8px;
  }

  &.checked {
    > .g-radio {
      > .g-radio-inner {
        border: 1px solid #40a9ff;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 8px;
          height: 8px;
          background: #40a9ff;
          border-radius: 50%;
          content: '';
        }
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    > .g-radio {
      > input {
        cursor: not-allowed;
      }
      > .g-radio-inner {
        border: 1px solid #c4c4c4;
        cursor: not-allowed;
        &::after {
          background: #c4c4c4;
        }
      }
    }
    > .g-radio-tips {
      color: #c4c4c4;
    }
  }
}
