.g-auto-complete {
  position: relative;
  display: inline-block;
  &.block {
    display: block;
  }
  > ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  &-suggestion {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 100;
    width: 100%;
    padding-left: 0;
    white-space: nowrap;
    list-style: none;
    background: #fff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%), 0 0 6px 0 rgb(0 0 0 / 4%);
  }
  &-suggestion-item {
    padding: 0.5rem 1rem;
    color: #212529;
    cursor: pointer;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover {
      color: #1890ff !important;
    }
    &.item-highlighted {
      color: #fff !important;
      background: #1890ff !important;
    }
  }
}
